* {
  margin: 0;
  padding: 0;
}

section {
  width: 550px;
  margin: 100px 0 0 500px;
  height: 385px;
  border: 1px solid black;

  padding-top: 25px;
  background-image: url('../images/bg1.jpg');
  background-size: 550px;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  font-family: Monaco;
}

#selectmenu {
  width: 50%;
  height: 250px;
  margin: 50px 0 0 25%;
}

#btnstart {
  background-color: black;
  color: white;
  width: 50%;
  border: none;
  height: 40px;
  font-size: 14pt;
}