<!Doctype html>

<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>토투가</title>
</head>
<link rel='stylesheet' type="text/css" href="../css/style.css">
<link rel='stylesheet' type="text/css" href="../css/trade.css">
<script src='/js/addBtn.js'></script>

<body>
  <section>
    <div id="gold"><img src="../images/gold.png" style="width:30%"><%=gold%></div>
    <h2 class="menubox">상 품 리 스 트</h2>
    <nav><a href="/menu">뒤로가기</a></nav>
    <%-list%>
    <script>
      dyncBtn('구매');
    </script>
    </div>
  </section>
</body>

</html>