<!Doctype html>

<html>

<head>
  <title>토투가</title>
</head>
<link rel='stylesheet' type="text/css" href="../css/style.css">
<style>
  #container {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;

    height: 300px;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;
  }

  .product {
    height: 50px;
    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16pt;
    text-align: left;
    margin-bottom: 1px;
  }

  .product:hover {
    color: grey;
  }

  .product div {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    color: white;
  }





  .additional {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    height: 40px;
  }

  .additional button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    width: 25%;
    height: 90%;

  }


  nav {
    float: right;
  }

  nav a:visited,
  a:hover,
  a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  nav a:hover {
    color: white;
  }
</style>
<script>
  window.onload = function () {
    let pd = document.getElementsByClassName('product');

    let btn = 0;
    for (let i = 0; i < pd.length; i++) {

      pd[i].onclick = function () {

        const del = document.getElementsByClassName('additional');
        if (btn > 0) {
          pd[0].parentNode.removeChild(del[0]);
        }

        const node = document.createElement('div'); //요소 생성
        node.setAttribute('class', 'additional');

        const btnbuy = document.createElement('button');
        const name = pd[i].getAttribute('name');
        node.setAttribute('onclick', `location.href='/buy/buythings/?product=${name}'`);

        //node.setAttribute('method', `post`);
        const btn2 = document.createElement('button');
        const btn3 = document.createElement('button'); //요소 생성

        const btnbuytxt = document.createTextNode('구매');
        const btntxt2 = document.createTextNode('미구현기능');
        const btntxt3 = document.createTextNode('미구현기능'); //텍스트 생성

        btnbuy.appendChild(btnbuytxt);
        btn2.appendChild(btntxt2);
        btn3.appendChild(btntxt3);

        node.appendChild(btnbuy);
        node.appendChild(btn2);
        node.appendChild(btn3); //요소 + 텍스트

        pd[i].parentNode.insertBefore(node, pd[i + 1]);
        btn = 1;
      };
    };
  }
</script>

<body>
  <section>
    <h2>상 품 리 스 트</h2>
    <nav><a href="/menu">뒤로가기</a></nav>
    <%-list%>
    </div>
  </section>
</body>

</html>