<!Doctype html>

<html>

<head>
  <title>토투가</title>
</head>
<link rel='stylesheet' type="text/css" href="../css/style.css">
<style>
  #container {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;

    height: 300px;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;
  }

  .product {
    height: 50px;
    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16pt;
    text-align: left;
    margin-bottom: 1px;
  }

  .product:hover {
    color: grey;
  }

  .product div {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    color: white;
  }





  .additional {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    height: 40px;
  }

  .additional button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    width: 25%;
    height: 90%;

  }


  nav {
    float: right;
  }

  nav a:visited,
  a:hover,
  a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  nav a:hover {
    color: white;
  }

  #gold {
    float: right;
    margin: 0;
    padding: 0;
    width: 15%;
  }
</style>


<body>
  <section>
    <div id="gold">gold : <%=gold%></div>
    <h2>상 품 리 스 트</h2>
    <nav><a href="/menu">뒤로가기</a></nav>
    <%-list%>
    <script src='/js/addbtnBuy.js'></script>
    </div>
  </section>
</body>

</html>