<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>토투가</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <style></style>
</head>

<body>
  <section>
    <header>
      <h1 style="font-family: Fantasy;">토 투 가</h1>
      <h4>T O R T U G A</h4>
    </header>

    <div id="selectmenu">
      <button class="btnstart" onclick="location.href='./login'">
        시작하기
      </button>
    </div>
  </section>
</body>

</html>