<!DOCTYPE html>
<html>

<head>
  <title>Shopping GAME</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
  <section>
    <div id="mainpage">
      <h1 style="margin-bottom:150px">쇼 핑 게 임</h1>
      <button id="btnstart" onclick="location.href='./menu'">시작하기</button>
    </div>
  </section>
</body>

</html>