<!DOCTYPE html>
<html>

<head>
  <title>Shopping GAME</title>

  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <style>
    #divLogin {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }

    #divLogin button {
      margin-bottom: 10px;
      width: 100%;
    }
  </style>
</head>

<body>
  <section>
    <div id="mainpage">
      <h1 style="margin-bottom:0px">메 뉴 선 택</h1>
      <div id="divLogin">
        <button id="btnstart" onclick="location.href='./buy'">매입하기</button>

        <button id="btnstart" onclick="location.href='./sell'">판매하기</button>

        <button id="btnstart" onclick="location.href='./inventory'">저장소</button>

      </div>
    </div>
  </section>
</body>

</html>